MANIFEST
MANIFEST.bak
META.yml
Makefile
Makefile.old
SIGNATURE
blib/
inc/
pm_to_blib
.prove
*.sw[po]
cover_db/
t/TestApp-Plugin-EmailErrors/testapp_plugin_emailerrors
t/TestApp-Plugin-EmailErrors/var/
